# Agda
**/MAlonzo
**/*.agdai

# C(++), etc.
**/a.out
*.o

# Swift
**/build/*

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*

# JS
**/node_modules/

**/.vscode-test

**/# yarn v2
**/.yarn/cache
**/.yarn/unplugged
**/.yarn/build-state.yml
**/.yarn/install-state.gz
**/.pnp.*

# Python
**/*.cpython*
**/__pycache__
**/.mypy_cache

# Haskell
**/.stack_work
**/dist-newstyle
*.hi

# Exercism
**/.exercism
**/.stack-work
/exercism/pharo-smalltalk/pharo-ui
/exercism/pharo-smalltalk/pharo-vm/
/exercism/pharo-smalltalk/pharo-local/
/exercism/pharo-smalltalk/Pharo10.0-64bit-2314c3f.sources
/exercism/pharo-smalltalk/Pharo.changes
/exercism/pharo-smalltalk/Pharo.image
